.about {
    flex: 3;
    padding: 1rem;
  }

  .about h2 span{
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 0.1rem;
    padding-bottom: 0.4rem;
  }
  
  .about p {
    color: var(--secondary-text-color);
    text-align: left; 
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .about h2,
    .about p{
      text-align: center;
    }
  }
  