.footer {
    background-color: #000; 
    color: white;
    padding: 3rem;
    text-align: center;
  }
  
  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid rebeccapurple;
    padding-top: 1rem;
  }
  
  .socialLinks {
    margin-top: 0.5rem;
  }
  
  .socialLinks a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .socialLinks a:hover {
    text-decoration: underline;
  }
  