.interests {
    flex: 1; 
    padding: 1rem;
  }

  .interests h2 span{
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 0.1rem;
    padding-bottom: 0.4rem;
  }
  
  .interests ul {
    list-style-type: none;
    padding: 0;
  }
  
  .interests li {
    color: var(--secondary-text-color);
    margin: 0.5rem 0;
  }

  @media (max-width: 768px) {
    .interests h2,
    .interests li {
      text-align: center;
    }
  }