.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
}

.main {
  flex: 1;
  padding: 1rem;
  padding-bottom: 2rem;
}

.row{
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}

.about {
  flex: 3;
}

.interests {
  flex: 1;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}